<nav class="navbar navbar-expand-lg first-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#"><img height="40" src="https://cdn2.iconfinder.com/data/icons/hand-conversation-solid-style/91/Hand_46-512.png"></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Evidencija dobrovoljnih davalaca krvi</a>
        </li>
      </ul>
        <ul *ngIf="korisnik; else gost" class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link">{{korisnik}}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" role="link" (click)="logout()">Odjavi se</a>
            </li>
        </ul>
      <ng-template #gost>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link"
                [routerLink]="['/login']">Ulogujte se</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disable" href="">ili</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/register']">Registrujte se</a>
            </li>
        </ul>
      </ng-template>
      
    </div>
  </nav>