.multi-control-group .form-control:first-child {
    border-right-width: 0;
}
.multi-control-group .form-control:last-child {
    border-left-width: 0;
}
.multi-control-group .input-group-addon:not(.last-addon) {
    border-right-width: 0;
}

.multi-control-group .input-group-addon:not(.first-addon) {
    border-left-width: 0;
}

.multi-control-group .input-group-addon{
    border-top-width:  1px;
    border-bottom-width: 1px;
}

.dropdown-menu{
    overflow-y:scroll;
    overflow:auto;
    max-height: 280px;
  }
