<div class="col-12 p-0">
    <div class="title text-center">
        <h3>Nova donacija</h3>
    </div>
    <form [formGroup]="donationForm" (submit)="onSubmit()" class="px-10">
        <div class="row form-group">
            <div class="col-12">
                <label>Davalac: </label>
                <div class="input-group">
                    <input formControlName="donor" type="text" readonly="true" class="form-control d-inline-block"
                        value="donationForm.get('donor').value" [ngClass]="{ 'is-invalid': submitted && f.donor.errors }">
                    <div class="input-group-append">
                        <div class="dropdown d-inline-block">
                            <button class="btn btn-dd dropdown-toggle" type="button" id="dropdownDonor"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Izaberi davaoca
                            </button>
                            <div *ngIf="donors!=null" class="dropdown-menu" aria-labelledby="dropdownDonor">
                                <input type="text" placeholder="Upiši ime ili prezime" [(ngModel)]="searchDonor"
                                    class="pl-4" [ngModelOptions]="{standalone: true}" id="myInput"
                                    (input)="filterDonors()">
                                <a class="dropdown-item" *ngFor="let d of donors" (click)="chooseDonor(d)">
                                    {{d.firstName}} {{d.lastName}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="submitted && !!f.donor.errors" class="invalid-feedback d-block">
                    <div *ngIf="!!f.donor.errors.required">Izaberite davaoca!</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-12 form-group">
                <label>Doza (ml):</label>
                <input formControlName="dose" type="number" class="form-control" value="{{donation.dose}}"
                [ngClass]="{ 'is-invalid': submitted && f.dose.errors }">
                <small class="text-muted">Najmanja doza: 350 ml</small>
                <div *ngIf="submitted && !!f.dose.errors" class="invalid-feedback">
                    <div *ngIf="!!f.dose.errors.required">Doza je obavezno polje!</div>
                    <div *ngIf="!!f.dose.errors.minlength || !!f.dose.errors.maxlength">Vrijednost doze je naispravna
                    </div>
                    <div *ngIf="!!f.dose.errors.min">Najmanja doza je 350 ml</div>
                    <div *ngIf="!!f.dose.errors.max">Najveća doza je 450 ml</div>
                </div>
            </div>

            <div class="col-md-6 col-12 form-group">
                <label>Datum:</label>
                <input formControlName="date" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
                <small class="text-muted">Format datuma: 21-01-2000</small>
                <div *ngIf="submitted && !!f.date.errors" class="invalid-feedback">
                    <div *ngIf="!!f.date.errors.required">Datum je obavezno polje!</div>
                    <div *ngIf="!!f.date.errors.pattern">Datum je neispravnog formata!</div>
                    <div *ngIf="!!f.date.errors.incorrect">Datum je neispravan!</div>
                </div>
            </div>
            <div class="col-md-3 col-12 form-group">
                <label>Testirano:</label>
                <br>
                <input type="radio" value="true" formControlName="tested">
                <span>Da</span>
                <input class="ml-3" type="radio" value="false" formControlName="tested">
                <span>Ne</span>
                <div *ngIf="submitted && !!f.tested.errors" class="invalid-feedback d-block">
                    <div *ngIf="!!f.tested.errors.required">Status testa je obavezno polje!</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label>Lokacija:</label>
                <input formControlName="location" type="text" placeholder="Naziv institucije, grad" class="form-control"
                    value="{{donation.location}}"  [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
                <div *ngIf="submitted && !!f.location.errors" class="invalid-feedback">
                    <div *ngIf="!!f.location.errors.required">Lokacija je obavezno polje!</div>
                    <div *ngIf="!!f.location.errors.maxlength">Lokacija je preduga!</div>
                </div>
            </div>
        </div>
        <div class="title text-center">
            <h4>Pregled</h4>
        </div>
        <div class="row">
            <div class="col-md-6 col-12 form-group">
                <label>Pritisak:</label>
                <div class="input-group">
                    <input formControlName="systolic" type="number" class="form-control col-6" placeholder="120"
                        value="{{donation.systolic}}">
                    <input formControlName="diastolic" type="number" class="form-control col-6" placeholder="80"
                        value="{{donation.diastolic}}">
                </div>
                <div *ngIf="submitted && (!!f.systolic.errors || !!f.diastolic.errors)" class="invalid-feedback d-block">
                    <div *ngIf="!!f.systolic.errors?.required || !!f.diastolic.errors?.required; else ostaleGreske">
                        Pritisak je obavezno polje!</div>
                    <ng-template #ostaleGreske>
                        <div>Pritisak je neispravan!</div>
                    </ng-template>
                </div>
            </div>
            <div class="col-md-6 col-12 form-group">
                <label>Težina (kg):</label>
                <input formControlName="weigth" type="number" class="form-control" value="{{donation.weight}}"
                [ngClass]="{ 'is-invalid': submitted && f.weigth.errors }">
                <small class="text-muted">Najmanja težina: 50kg</small>
                <div *ngIf="submitted && !!f.weigth.errors" class="invalid-feedback">
                    <div *ngIf="submitted && !!f.weigth.errors.required; else ostaleGr">Težina je obavezno polje!
                    </div>
                    <ng-template #ostaleGr>
                        <div>Težina je neisprava!</div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label>Napomena:</label>
                <textarea formControlName="additional" class="form-control" value="{{donation.additional}}"></textarea>
            </div>
        </div>
        <div *ngIf="errMsg && loaded" class="row">
                <div class="col-md-12 form-group">
                    <div class="alert alert-danger" role="alert">
                        {{errMsg}}
                    </div>
                </div>
            </div>
        <div class="row justify-content-center">
            <br>
            <div class="col-md-6 col-12 form-group">
                <input type="submit" class="btn btn-beige w-100" value="SAČUVAJ">
            </div>
        </div>
    </form>
</div>