<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">R.br</th>
      <th scope="col">Ime i prezime</th>
      <th scope="col">KG</th>
      <th scope="col">Doza</th>
      <th scope="col">Datum</th>
      <th scope="col">Lokacija</th>
      <th scope="col">Testirano</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of donations; index as i ">
      <th scope="row">{{currentPage+i+1}}</th>
      <td>{{d.donor.firstName}} {{d.donor.lastName}}</td>
      <td>{{formatBloodType(d.donor.blood)}}</td>
      <td>{{d.dose}}</td>
      <td>{{d.date | date: 'dd-MM-yyyy'}}</td>
      <td>{{d.location}}</td>
      <td>{{d.tested? 'DA' : 'NE'}}</td>
      <td><button class="btn btn-beige" [routerLink]="['/donations',d.id]">
        <span class="d-none d-lg-inline d-md-inline">Detalji </span><i class="fa fa-pencil-square-o"></i></button></td>
      <td><button class="btn btn-beige">
          <span class="d-none d-lg-inline d-md-inline">Arhiviraj</span><i class="fa fa-archive"></i></button></td>
    </tr>
  </tbody>
</table>