<div>
  <div class="title text-center">
    <h3>Registracija</h3>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="px-10">
    <div class="row">
      <div class="col-md-12 form-group">
        <label>Ime</label>
        <input type="text" formControlName="firstName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && !!f.firstName.errors" class="invalid-feedback">
          <div *ngIf="!!f.firstName.errors.required">Ime je obavezno polje</div>
          <div *ngIf="!!f.firstName.errors.minlength">Ime je prekratko</div>
          <div *ngIf="!!f.firstName.errors.maxlength">Ime je predugo</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label>Prezime</label>
        <input type="text" formControlName="lastName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && !!f.lastName.errors" class="invalid-feedback">
          <div *ngIf="!!f.lastName.errors.required">Prezime je obavezno polje</div>
          <div *ngIf="!!f.lastName.errors.minlength">Prezime je prekratko</div>
          <div *ngIf="!!f.lastName.errors.maxlength">Prezime je predugo</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label>Ime jednog roditelja</label>
        <input type="text" formControlName="parentName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.parentName.errors }" />
        <div *ngIf="submitted && !!f.parentName.errors" class="invalid-feedback">
          <div *ngIf="!!f.parentName.errors.required">Ime roditelja je obavezno polje</div>
          <div *ngIf="!!f.parentName.errors.minlength">Ime roditelja je prekratko</div>
          <div *ngIf="!!f.parentName.errors.maxlength">Ime roditelja je predugo</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>Pol</label>
      </div>
      <div class="col-md-6">
        <div class="dropdown">
          <button class="btn btn-dd dropdown-toggle" type="button" id="dropdownPol" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">{{registerForm.get('gender').value}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownPol">
            <a class="dropdown-item" *ngFor="let p of pol" (click)="registerForm.get('gender').setValue(p)">{{p}}</a>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label>Datum rođenja</label>
        <input type="text" formControlName="birthDate" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.birthDate.errors }" />
        <div *ngIf="submitted && !!f.birthDate.errors" class="invalid-feedback">
          <div *ngIf="!!f.birthDate.errors.required">Datum rođenja je obavezno polje</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label>Matični broj</label>
        <input type="text" formControlName="jmb" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.jmb.errors }" />
        <div *ngIf="submitted && !!f.jmb.errors" class="invalid-feedback">
          <div *ngIf="!!f.jmb.errors.required">Matični broj je obavezno polje</div>
          <div *ngIf="!!f.jmb.errors.minlength">Matični broj je prekratko</div>
          <div *ngIf="!!f.jmb.errors.maxlength">Matični broj je predugo</div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <label>Krvna grupa</label>
        </div>
        <div class="col-md-6">
          <div class="dropdown">
            <button class="btn btn-dd dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">{{registerForm.get('bloodType').value}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <a class="dropdown-item" *ngFor="let bt of bloodTypes" (click)="registerForm.get('bloodType').setValue(bt)">{{bt}}</a>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label>Telefon</label>
        <input type="text" formControlName="phone" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
        <div *ngIf="submitted && !!f.phone.errors" class="invalid-feedback">
          <div *ngIf="!!f.phone.errors.required">Broj telefona je obavezno polje</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label>Zanimanje</label>
        <input type="text" formControlName="profession" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.profession.errors }" />
        <div *ngIf="submitted && !!f.profession.errors" class="invalid-feedback">
          <div *ngIf="!!f.profession.errors.required">Datum rođenja je obavezno polje</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && !!f.email.errors" class="invalid-feedback">
          <div *ngIf="!!f.email.errors.required">Email je obavezno polje</div>
          <div *ngIf="!!f.email.errors.email">Email nije ispravna</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label>Lozinka</label>
        <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && !!f.password.errors" class="invalid-feedback">
          <div *ngIf="!!f.password.errors.required">Lozinka je obavezno polje</div>
        </div>
      </div>
    </div>
    <div *ngIf="errorMessage" class="row">
      <div class="col-md-12 form-group">
        <div class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 col-12 form-group">
        <br>
        <input type="submit" class="btn btn-beige w-100" value="REGISTER">
      </div>
    </div>
  </form>
</div>