<div class="title text-center">
  <h3>Informacije o davaocu</h3>
</div>
<div>
<ul class="nav nav-pills border-bottom mt-4">
  <li class="nav-item">
    <a class="nav-link" (click)="activeTab=0" [class.active]="activeTab===0"><i class="fa fa-user-circle-o"></i> Lične
      informacije</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="loadUserDonations(0)" [class.active]="activeTab===1"><i class="fa fa-list"></i> Istorija
      donacija</a>
  </li>
</ul>
</div>
<ng-container [ngTemplateOutlet]="activeTab===0 ? personalInfo : userDonations" *ngIf="donorId"></ng-container>
<ng-template #personalInfo>
  <app-donator-info #donorInfo [donorId]="donorId" [mode]="1" (validSubmit)="submit($event)" (archiveSubmit)="archive($event)" [errorMessage]="errorMessage" [hasError]="hasError"></app-donator-info>
</ng-template>
<ng-template #userDonations>

  <app-donation-list *ngIf="loaded && totalPages>0; else noDonationsMsg" [donations]="donations" [currentPage]="currentPage"></app-donation-list>
  <ng-template #noDonationsMsg>
    <div class="mt-4 text-center">
        <h5>{{notFoundMsg}}</h5>
        <button class="btn btn-beige" [routerLink]="['/donations/new']">Dodaj donaciju <i class="fa fa-plus"></i></button>
    </div>
  </ng-template>
  <ul class="nav nav-pills justify-content-center py-4">
    <li *ngIf="currentPage>0" class="nav-item">
      <a class="btn btn-beige nav-link" (click)="loadUserDonations(currentPage-1)">
        <i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    </li>
    <li *ngIf="currentPage+1<totalPages" class="nav-item">
      <a class="btn btn-beige nav-link" (click)="loadUserDonations(currentPage+1)">
        <i class="fa fa-chevron-right" aria-hidden="true"></i> </a>
    </li>
  </ul>
</ng-template>