body{
    color: darkslategray;
}
a,
a.nav-link {
    cursor: pointer;
}
.h-avb{
    height: -webkit-fill-available;
}
.form-control:focus,
.btn:focus,
button:focus,
input[type=text]:focus{
    outline-color: transparent !important;
    border-color: gainsboro !important;
    box-shadow: 0 0 0.2rem #8564043b !important;
}
.form-control:disabled,
.form-control:read-only {
    background-color: transparent !important;
    border-width: 0 0 1px !important;
    border-radius: 0;
}
textarea.form-control:disabled {
    border-width: 1px !important;
}
.info-form .form-control:disabled {
    background-color: transparent;
}
.card {
    border-radius: 0 !important;
}
.card-link {
    color: #c83739 !important;
    font-weight: 600;
}
.dropdown-item.active,
.dropdown-item:active{
    background-color: #8564043b !important;
}
button.dropdown-toggle:disabled::after {
    opacity: 0;
}
button.dropdown-toggle:disabled {
    opacity: 1;
}
.table thead th {
    background-color: #d2b48ca1 !important;
    border: 0 !important;
}
.table td, .table th {
    border-top-color: #721c2440 !important;
}
.table-hover tbody tr:hover {
    background-color: antiquewhite !important;
}
.sidebar {
    background-color: beige !important;
}
.sidebar a {
    color: #495057 !important;
}
svg {
    float: left;
}
i {
    height: 20px;
    width: 20px;
}
.sidebar-nav > .sidebar-brand a {
    color: #5a5858;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.sidebar-heading {
    border-bottom: 1px solid #0000003b;
}
.px-10{
    padding-left: 15%;
    padding-right: 15%;
}
.btn-dd{
    background-color: beige !important;
    border-width: 0 !important;
    margin-left: 10px;
    max-width: 200px;
    width: inherit;
}
.btn-beige{
    color: darkslategrey !important;
    background: beige !important;
    border-width: 0;
    padding: 3%;
}
.dropdown{
    width: 200px;
    max-width: 200px;
    min-width: min-content;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #c83739 !important;
    font-weight: 600;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.title{
    height: fit-content;
    background-color: antiquewhite;
}
